@font-face {
    font-family: Roboto-Regular;
    src: url("../../assets/google-fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Raleway-Bold;
    src: url("../../assets/google-fonts/Raleway/static/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Satisfy-Regular";
    src: url("../../assets/google-fonts/Satisfy/Satisfy-Regular.ttf");
}

